/Music-Player-GUI/nbproject/private/
/MP3 Player Widget/build/
/MP3 Player Widget/dist/
/MP3 Player Widget/nbproject/private/
/JavaFXMusicGUI/build/
/JavaFXMusicGUI/dist/
/IntelliJ JavaFX GUI/.idea
/IntelliJ JavaFX GUI/lib
/IntelliJ JavaFX GUI/out
/IntelliJ JavaFX GUI/javaFXTest.iml