FXGUI/libignore/
FXGUI/src/ignore/*.java
FXGUI/out/production/FXGUI/ignore/*.class
FXGUI/.idea/workspace.xml
/FXGUI/.idea
/FXGUI/.idea/
/FXGUI/.idea/workspace.xml
FXGUI/.idea/workspace.xml
FXGUI/.idea/*.xml
/.idea/*.xml
.idea/*.xml


/FXGUI/.idea/*.xml
/FXGUI/lib
/FXGUI/lib/
/FXGUI/out
/FXGUI/out/
/FXGUI/out/*.class
/FXGUI/javaFXTest.iml
*.xml
*.class