.list-view {
    -fx-background-color: deepskyblue;
    -fx-text-fill: rgb(000, 000, 000);
}

.list-cell:filled:hover {
    -fx-background-color: deepskyblue;
    -fx-text-fill: rgb(000, 000, 000);
}

.list-cell {
    -fx-background-color: deepskyblue;
    -fx-text-fill: rgb(00, 000, 000);
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#000000 0%, #000000 25%, #000000 75%, #000000 100%);
    -fx-text-fill: rgb(255, 255, 255);
}

.list-cell:filled:hover {
    -fx-background-color: black;
    -fx-text-fill: rgb(255, 255, 255);
}
