.list-view {
    -fx-background-color: gold;
    -fx-text-fill: rgb(000, 000, 000);
}

.list-cell:filled:hover {
    -fx-background-color: black;
    -fx-text-fill: rgb(255, 255, 255);
}

.list-cell {
    -fx-background-color: gold;
    -fx-text-fill: rgb(000, 000, 000);
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#FF0000 0%, #FF0000 25%, #A00000 75%, #800000 100%);
    -fx-text-fill: rgb(000, 300, 000);
}